.container {
  width: 1249px;
  margin: 0 auto;
  background-color: #fff;
}

@media screen and (min-width: 750px){
  .container img {
    width: 1249px;
    height: 561px;
  }  
}

@media screen and (max-width: 380px){
   .container img{
    width: 375px;
    height: 168px;
   }
}

.container img {
  width: 1249px;
  height: 561px;
}  